@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-100;
}
.triangle-vote-up {
  @apply w-0 h-0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #888;
}

.text-white > .triangle-vote-up {
  border-bottom: 10px solid #ddd;
}







